/*doc
---
title: CNN Politics
name: 00__Welcome
category: Base
---

### Welcome to the 2016 CNN Politics Style Guide

This is where you will find high-level orientation copy to let you know what is up.
*/
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif; }

*, *:before, *:after {
  box-sizing: content-box;
  box-sizing: border-box;
  box-sizing: -moz-border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.table {
  display: table; }

.tbody {
  display: table-row-group; }

.tr {
  display: table-row; }

.td {
  display: table-cell; }

/*doc
---
title: Typography
name: 01_Typography
category: Base
---

Here are the default type styles used across politics.

*/
/*doc
---
title: Headlines
name: Headlines
category: Base
parent: 01_Typography
---

```html_example
<h1>Primary Headline</h1>
<h2>Secondary Headline</h2>
<h3>Sub-Headline</h3>
<h4>Sub-Sub-Headline</h4>
<h5>Super Small Headline</h5>
```
*/
h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1em; }

/*doc
---
title: Links
name: Links
category: Base
parent: 01_Typography
---

```html_example
<a href="#">This is a link</a>
```
*/
a {
  text-decoration: none; }

/*doc
---
title: Paragraphs
name: Paragraphs
category: Base
parent: 01_Typography
---

```html_example
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing
    elit. Duis scelerisque iaculis fringilla. Donec ultrices
    auctor ante, vel dignissim nunc. Suspendisse sodales
    faucibus ullamcorper. Duis nec erat nec diam molestie
    faucibus. Mauris tempor est et aliquam mollis. Aliquam
    erat volutpat.
</p>

<p>
    Sed interdum sollicitudin lacus, et lacinia neque 
    vehicula nec. Aliquam quis velit dignissim, ultrices 
    lorem a, euismod purus. Fusce consequat, tortor sed 
    accumsan luctus, erat turpis luctus arcu, ac blandit 
    ex quam in mi. Nulla mauris dolor, mollis eu nulla ut.
</p>
```
*/
p {
  font-size: 1em;
  padding: .5em; }

/*doc
---
title: Results
name: 000_Results
category: Results
---
All results modules show results by Party.

Additional listing + sorting criteria:

* National, State, or County
* All Candidates or specific candidate
* Ordered + displayed by:
    * Date
    * Delegate Count

### Current variants:
1. Candidate Results
2. Delegate Tracker
3. Regional Delegate Tracker
4. Top 3 Leaderboard
5. State-by-State
*/
/*doc
---
title: Candidate Results
name: 00_Candidate_Results
category: Results
---

For a specific candidate shows: list of all primaries ordered by date, results for each primary including delegates awarded per primary

```component_example
<div class="results--candidate">
    <table class="results--candidate__table" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    State/Primary
                </th>
                <th>
                    Status
                </th>
                <th>
                    Delegates Awarded
                </th>
            </tr>
        <tbody>
            <tr>
                <td>
                    Jan. 28
                </td>
                <td>
                    Iowa
                </td>
                <td>
                    Projected Winner
                </td>
                <td>
                    17
                </td>
            <tr>
            <tr>
                <td>
                    Jan. 28
                </td>
                <td>
                    New Hampshire
                </td>
                <td>
                    3rd Place
                </td>
                <td>
                    0
                </td>
            <tr>
            <tr>
                <td>
                    Feb. 14
                </td>
                <td>
                    South Carolina
                </td>
                <td>
                    Projected Winner
                </td>
                <td>
                    9
                </td>
            <tr>
            <tr>
                <td>
                    Feb. 20
                </td>
                <td>
                    Nevada
                </td>
                <td>

                </td>
                <td>
                    &mdash;
                </td>
            <tr>
            <tr>
                <td>
                    Mar. 3
                </td>
                <td>
                    North Carolina
                </td>
                <td>

                </td>
                <td>
                    &mdash;
                </td>
            <tr>
        </tbody>
    </table>
</div>

```

*/
/*doc
---
title: Markup
name: 01_Candidate_Results
category: Results
parent: 00_Candidate_Results
---

```markup_example
<div class="results--candidate">
    <table class="results--candidate__table" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    State/Primary
                </th>
                <th>
                    Status
                </th>
                <th>
                    Delegates Awarded
                </th>
            </tr>
        <tbody>
            <tr>
                <td>
                    Jan. 28
                </td>
                <td>
                    Iowa
                </td>
                <td>
                    Projected Winner
                </td>
                <td>
                    17
                </td>
            <tr>
            <tr>
                <td>
                    Jan. 28
                </td>
                <td>
                    New Hampshire
                </td>
                <td>
                    3rd Place
                </td>
                <td>
                    0
                </td>
            <tr>
            <tr>
                <td>
                    Feb. 14
                </td>
                <td>
                    South Carolina
                </td>
                <td>
                    Projected Winner
                </td>
                <td>
                    9
                </td>
            <tr>
            <tr>
                <td>
                    Feb. 20
                </td>
                <td>
                    Nevada
                </td>
                <td>

                </td>
                <td>
                    &mdash;
                </td>
            <tr>
            <tr>
                <td>
                    Mar. 3
                </td>
                <td>
                    North Carolina
                </td>
                <td>

                </td>
                <td>
                    &mdash;
                </td>
            <tr>
        </tbody>
    </table>
</div>

```
*/
/*doc
---
title: SCSS
name: 02_Candidate_Results
category: Results
parent: 00_Candidate_Results
---

```scss_example






.results--candidate {
    &__table {
        width: 100%;

        th {
            font-size: .6em;
            text-align: left;
        }

        td {
            border-collapse: collapse;
            padding: .5em 0;
            border-bottom: 1px solid $gray-4;
        }
    }
}

```
*/
.results--candidate__table {
  width: 100%; }
  .results--candidate__table th {
    font-size: .6em;
    text-align: left; }
  .results--candidate__table td {
    border-collapse: collapse;
    padding: .5em 0;
    border-bottom: 1px solid #d9d9d9; }

/*doc
---
title: Delegate Tracker
name: 00_Delegate_Tracker
category: Results
---

Candidate "leaderboard" for a political party. Results for all candidates on a national level, sorted by number of delegates, with total number of delegates required to secure nomination

```component_example
<div class="results--delegate-tracker">
    <div class="results--delegate-tracker__delegates">
        <div class="candidate">
            <div class="candidate__name">
                Rick Santorum
            </div>
            <div class="candidate__photo">
                <img src="http://placehold.it/50x50" />
            </div>
            <div class="candidate__delegate-bar" data-count="1515">
                <div class="candidate__delegate-count" style="width: 82%;"></div>
            </div>
        </div>
        <div class="candidate">
            <div class="candidate__name">
                Jeb Bush
            </div>
            <div class="candidate__photo">
                <img src="http://placehold.it/50x50" />
            </div>
            <div class="candidate__delegate-bar" data-count="800">
                <div class="candidate__delegate-count" style="width: 42%;"></div>
            </div>
        </div>
        <div class="candidate">
            <div class="candidate__name">
                Marco Rubio
            </div>
            <div class="candidate__photo">
                <img src="http://placehold.it/50x50" />
            </div>
            <div class="candidate__delegate-bar" data-count="300">
                <div class="candidate__delegate-count" style="width: 22%;"></div>
            </div>
        </div>
    </div>
</div>

```
*/
/*doc
---
title: Markup
name: 01_Delegate_Tracker
category: Results
parent: 00_Delegate_Tracker
---

```markup_example
<div class="results--delegate-tracker">
    <div class="results--delegate-tracker__delegates">
        <div class="candidate">
            <div class="candidate__name">
                Rick Santorum
            </div>
            <div class="candidate__photo">
                <img src="http://placehold.it/50x50" />
            </div>
            <div class="candidate__delegate-bar" data-count="1515">
                <div class="candidate__delegate-count" style="width: 82%;"></div>
            </div>
        </div>
        <div class="candidate">
            <div class="candidate__name">
                Jeb Bush
            </div>
            <div class="candidate__photo">
                <img src="http://placehold.it/50x50" />
            </div>
            <div class="candidate__delegate-bar" data-count="800">
                <div class="candidate__delegate-count" style="width: 42%;"></div>
            </div>
        </div>
        <div class="candidate">
            <div class="candidate__name">
                Marco Rubio
            </div>
            <div class="candidate__photo">
                <img src="http://placehold.it/50x50" />
            </div>
            <div class="candidate__delegate-bar" data-count="300">
                <div class="candidate__delegate-count" style="width: 22%;"></div>
            </div>
        </div>
    </div>
</div>

```
*/
/*doc
---
title: SCSS
name: 02_Delegate_Tracker
category: Results
parent: 00_Delegate_Tracker
---

```scss_example






.results--delegate-tracker {
    .candidate {
        position: relative;

        &__name,
        &__photo,
        &__delegate-bar {
            display: inline-block;
            vertical-align: middle;
        }

        &__name {
            text-align: right;
            width: 80px;
        }

        &__photo {
            width: 50px;
        }

        &__delegate-bar {
            background: $gray-4;
            height: 35px;
            position: relative;
            width: -webkit-calc(100% - 230px);

            &:after {
                content: attr(data-count);
                display: inline-block;
                left: 100%;
                position: absolute;
                top: 50%;
                vertical-align: middle;
                width: 100px;

                transform: translate(0, -50%);
            }

            .candidate__delegate-count {
                background: $gray-7;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
            }
        }
    }
}

```
*/
.results--delegate-tracker .candidate {
  position: relative; }
  .results--delegate-tracker .candidate__name, .results--delegate-tracker .candidate__photo, .results--delegate-tracker .candidate__delegate-bar {
    display: inline-block;
    vertical-align: middle; }
  .results--delegate-tracker .candidate__name {
    text-align: right;
    width: 80px; }
  .results--delegate-tracker .candidate__photo {
    width: 50px; }
  .results--delegate-tracker .candidate__delegate-bar {
    background: #d9d9d9;
    height: 35px;
    position: relative;
    width: -webkit-calc(100% - 230px); }
    .results--delegate-tracker .candidate__delegate-bar:after {
      content: attr(data-count);
      display: inline-block;
      left: 100%;
      position: absolute;
      top: 50%;
      vertical-align: middle;
      width: 100px;
      transform: translate(0, -50%); }
    .results--delegate-tracker .candidate__delegate-bar .candidate__delegate-count {
      background: #8c8c8c;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0; }

/*doc
---
title: Regional Delegate Tracker
name: 00_Regional_Tracker
category: Results
---

For a specific candidate shows: list of all primaries ordered by date, results for each primary including delegates awarded per primary

```component_example
<div class="results--regional-delegate-tracker">
    <header>
        <div class="results--regional-info">
            <h3>Region Name</h3>
            <h5>Jan. 5th 2016</h5>
        </div>
        <div class="results--percent-reporting">
            <h3>100%</h3>
            <h5>Reporting</h5>
        </div>

    </header>
    <table class="results--delegate-tracker__delegates" cellspacing="0">
        <thead>
            <th>
                Candidate
            </th>
            <th>
                Votes*
            </th>
            <th>
                Vote %
            </th>
        </thead>
        <tbody>
            <tr class="candidate">
                <td class="candidate__name">
                    <img src="http://placehold.it/50x50" />
                    <span>Rick Santorum</span>
                </td>
                <td class="candidate__votes--count">
                    50
                </td>
                <td class="candidate__votes--percent">
                    40%
                </td>
            </tr>
            <tr class="candidate">
                <td class="candidate__name">
                    <img src="http://placehold.it/50x50" />
                    <span>Mark Rubio</span>
                </td>
                <td class="candidate__votes--count">
                    50
                </td>
                <td class="candidate__votes--percent">
                    40%
                </td>
            </tr>
            <tr class="candidate">
                <td class="candidate__name">
                    <img src="http://placehold.it/50x50" />
                    <span>Donald Trump</span>
                </td>
                <td class="candidate__votes--count">
                    50
                </td>
                <td class="candidate__votes--percent">
                    40%
                </td>
            </tr>
        </tbody>
    </table>
</div>

```

*/
/*doc
---
title: Markup
name: 01_Regional_Tracker
category: Results
parent: 00_Regional_Tracker
---

```markup_example
<div class="results--regional-delegate-tracker">
    <header>
        <div class="results--regional-info">
            <h3>Region Name</h3>
            <h5>Jan. 5th 2016</h5>
        </div>
        <div class="results--percent-reporting">
            <h3>100%</h3>
            <h5>Reporting</h5>
        </div>

    </header>
    <table class="results--delegate-tracker__delegates" cellspacing="0">
        <thead>
            <th>
                Candidate
            </th>
            <th>
                Votes*
            </th>
            <th>
                Vote %
            </th>
        </thead>
        <tbody>
            <tr class="candidate">
                <td class="candidate__name">
                    <img src="http://placehold.it/50x50" />
                    <span>Rick Santorum</span>
                </td>
                <td class="candidate__votes--count">
                    50
                </td>
                <td class="candidate__votes--percent">
                    40%
                </td>
            </tr>
            <tr class="candidate">
                <td class="candidate__name">
                    <img src="http://placehold.it/50x50" />
                    <span>Mark Rubio</span>
                </td>
                <td class="candidate__votes--count">
                    50
                </td>
                <td class="candidate__votes--percent">
                    40%
                </td>
            </tr>
            <tr class="candidate">
                <td class="candidate__name">
                    <img src="http://placehold.it/50x50" />
                    <span>Donald Trump</span>
                </td>
                <td class="candidate__votes--count">
                    50
                </td>
                <td class="candidate__votes--percent">
                    40%
                </td>
            </tr>
        </tbody>
    </table>
</div>

```
*/
/*doc
---
title: SCSS
name: 02_Regional_Tracker
category: Results
parent: 00_Regional_Tracker
---

```scss_example






.results--regional-delegate-tracker {

    header {
        padding: .5em 0 1em;

        .results--regional-info,
        .results--percent-reporting {
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }

        .results--percent-reporting {
            text-align: right;
        }
    }

    table {
        width: 100%;
    }

    th {
        text-align: left;
    }
    .candidate {
        position: relative;

        &__name {
            text-align: left;
            width: 50%;

            img,
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__photo {
            width: 50px;
        }

        &__votes--count,
        &__votes--percent {

        }


    }
}

```
*/
.results--regional-delegate-tracker header {
  padding: .5em 0 1em; }
  .results--regional-delegate-tracker header .results--regional-info,
  .results--regional-delegate-tracker header .results--percent-reporting {
    width: 49%;
    display: inline-block;
    vertical-align: top; }
  .results--regional-delegate-tracker header .results--percent-reporting {
    text-align: right; }
.results--regional-delegate-tracker table {
  width: 100%; }
.results--regional-delegate-tracker th {
  text-align: left; }
.results--regional-delegate-tracker .candidate {
  position: relative; }
  .results--regional-delegate-tracker .candidate__name {
    text-align: left;
    width: 50%; }
    .results--regional-delegate-tracker .candidate__name img,
    .results--regional-delegate-tracker .candidate__name span {
      display: inline-block;
      vertical-align: middle; }
  .results--regional-delegate-tracker .candidate__photo {
    width: 50px; }

/*doc
---
title: Top 3 Leaderboard
name: 00_Top3
category: Results
---

For a given party, shows top 3 candidates in the running.

```component_example
<div class="results--top3">
    <div class="candidate">
        <div class="candidate__photo">
            <img src="http://placehold.it/50x50" />
        </div>
        <div class="candidate__info">
            <div class="candidate__name">
                Candidate Name
            </div>
            <div class="candidate__delegate-count">
                777
            </div>
        </div>
    </div>
    <div class="candidate">
        <div class="candidate__photo">
            <img src="http://placehold.it/50x50" />
        </div>
        <div class="candidate__info">
            <div class="candidate__name">
                Candidate Name
            </div>
            <div class="candidate__delegate-count">
                777
            </div>
        </div>
    </div>
    <div class="candidate">
        <div class="candidate__photo">
            <img src="http://placehold.it/50x50" />
        </div>
        <div class="candidate__info">
            <div class="candidate__name">
                Candidate Name
            </div>
            <div class="candidate__delegate-count">
                777
            </div>
        </div>
    </div>
</div>

````
*/
/*doc
---
title: Markup
name: 01_Top3
category: Results
parent: 00_Top3
---

```markup_example
<div class="results--top3">
    <div class="candidate">
        <div class="candidate__photo">
            <img src="http://placehold.it/50x50" />
        </div>
        <div class="candidate__info">
            <div class="candidate__name">
                Candidate Name
            </div>
            <div class="candidate__delegate-count">
                777
            </div>
        </div>
    </div>
    <div class="candidate">
        <div class="candidate__photo">
            <img src="http://placehold.it/50x50" />
        </div>
        <div class="candidate__info">
            <div class="candidate__name">
                Candidate Name
            </div>
            <div class="candidate__delegate-count">
                777
            </div>
        </div>
    </div>
    <div class="candidate">
        <div class="candidate__photo">
            <img src="http://placehold.it/50x50" />
        </div>
        <div class="candidate__info">
            <div class="candidate__name">
                Candidate Name
            </div>
            <div class="candidate__delegate-count">
                777
            </div>
        </div>
    </div>
</div>

```
*/
/*doc
---
title: SCSS
name: 02_Top3
category: Results
parent: 00_Top3
---

```scss_example






.results--top3 {
    .candidate {
        background: $gray-2;
        width: 100%;
        padding: .5em;
        margin: .5em 0;

        &__photo,
        &__info {
            display: inline-block;
            vertical-align: top;
        }
    }
}

```
*/
.results--top3 .candidate {
  background: #f2f2f2;
  width: 100%;
  padding: .5em;
  margin: .5em 0; }
  .results--top3 .candidate__photo, .results--top3 .candidate__info {
    display: inline-block;
    vertical-align: top; }

/*doc
---
title: State-by-State
name: 00_State-by-State
category: Results
---

For a given party, shows list of all contests over time. Each contest shows candidates who earned delegates. Delegates by pledged/unpledged/super.

```component_example
<div class="results--state-by-state">
    <table class="results--state-by-state__table" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    State/Primary
                </th>
                <th>
                    Winner
                </th>
                <th>
                    Pledged
                </th>
                <th>
                    Unpledged
                </th>
                <th>
                    Other
                </th>
                <th>
                    Total Delegates
                </th>
            </tr>
        <tbody>
            <tr>
                <td>
                    Jan. 28
                </td>
                <td>
                    New Hampshire
                </td>
                <td class="candidate__name">
                    <span>Jeb Bush</span>
                    <img src="http://placehold.it/50x50" />
                </td>
                <td>
                    7
                </td>
                <td>
                    4
                </td>
                <td>
                    1
                </td>
                <td>
                    12
                </td>
            <tr>
            <tr>
                <td>
                    Feb. 14
                </td>
                <td>
                    South Carolina
                </td>
                <td class="candidate__name">
                    <span>Rand Paul</span>
                    <img src="http://placehold.it/50x50" />
                </td>
                <td>
                    5
                </td>
                <td>
                    4
                </td>
                <td>
                    0
                </td>
                <td>
                    9
                </td>
            <tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="candidate__name">
                    <span>Jeb Bush</span>
                    <img src="http://placehold.it/50x50" />
                </td>
                <td>
                    5
                </td>
                <td>
                    4
                </td>
                <td>
                    0
                </td>
                <td>
                    9
                </td>
            <tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="candidate__name">
                    <span>Scott Walker</span>
                    <img src="http://placehold.it/50x50" />
                </td>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
                <td>
                    0
                </td>
                <td>
                    2
                </td>
            <tr>
            <tr>
                <td>
                    Feb. 20
                </td>
                <td>
                    Nevada
                </td>
                <td class="candidate__name">

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    17
                </td>
            <tr>

        </tbody>
    </table>
</div>

```


*/
/*doc
---
title: Markup
name: 01_State-by-State
category: Results
parent: 00_State-by-State
---

```markup_example
<div class="results--state-by-state">
    <table class="results--state-by-state__table" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    State/Primary
                </th>
                <th>
                    Winner
                </th>
                <th>
                    Pledged
                </th>
                <th>
                    Unpledged
                </th>
                <th>
                    Other
                </th>
                <th>
                    Total Delegates
                </th>
            </tr>
        <tbody>
            <tr>
                <td>
                    Jan. 28
                </td>
                <td>
                    New Hampshire
                </td>
                <td class="candidate__name">
                    <span>Jeb Bush</span>
                    <img src="http://placehold.it/50x50" />
                </td>
                <td>
                    7
                </td>
                <td>
                    4
                </td>
                <td>
                    1
                </td>
                <td>
                    12
                </td>
            <tr>
            <tr>
                <td>
                    Feb. 14
                </td>
                <td>
                    South Carolina
                </td>
                <td class="candidate__name">
                    <span>Rand Paul</span>
                    <img src="http://placehold.it/50x50" />
                </td>
                <td>
                    5
                </td>
                <td>
                    4
                </td>
                <td>
                    0
                </td>
                <td>
                    9
                </td>
            <tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="candidate__name">
                    <span>Jeb Bush</span>
                    <img src="http://placehold.it/50x50" />
                </td>
                <td>
                    5
                </td>
                <td>
                    4
                </td>
                <td>
                    0
                </td>
                <td>
                    9
                </td>
            <tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="candidate__name">
                    <span>Scott Walker</span>
                    <img src="http://placehold.it/50x50" />
                </td>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
                <td>
                    0
                </td>
                <td>
                    2
                </td>
            <tr>
            <tr>
                <td>
                    Feb. 20
                </td>
                <td>
                    Nevada
                </td>
                <td class="candidate__name">

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    17
                </td>
            <tr>

        </tbody>
    </table>
</div>

```
*/
/*doc
---
title: SCSS
name: 02_State-by-State
category: Results
parent: 00_State-by-State
---

```scss_example






.results--state-by-state {
    table {
        width: 100%;
    }

    th {
        text-align: left;
        font-size: .8em;
    }

    td {
        border-collapse: collapse;
        padding: .5em 0;
        border-bottom: 1px solid $gray-4;
    }

    .candidate__name {
        text-align: left;

        img,
        span {
            display: inline-block;
            vertical-align: middle;
        }
        span {
            width: 80px;
            text-align: right;
        }
    }


}

```
*/
.results--state-by-state table {
  width: 100%; }
.results--state-by-state th {
  text-align: left;
  font-size: .8em; }
.results--state-by-state td {
  border-collapse: collapse;
  padding: .5em 0;
  border-bottom: 1px solid #d9d9d9; }
.results--state-by-state .candidate__name {
  text-align: left; }
  .results--state-by-state .candidate__name img,
  .results--state-by-state .candidate__name span {
    display: inline-block;
    vertical-align: middle; }
  .results--state-by-state .candidate__name span {
    width: 80px;
    text-align: right; }

/*doc
---
title: Calendar
name: 00_Calendar
category: Calendars
---
Calendars.

### Current variants:
1. Long Calendar
    - #allthedates
2. Short Calendar
    - #someofthedates

```component_example
<div class="calendar">
    <div class="calendar__listing calendar__listing--header">
        <div class="calendar__date">
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty party--democratic">
                    Democratic Party
                </div>
                <div class="calendar__events--byparty party--republican">
                    Republican Party
                </div>
            </div>
        </div>
    </div>

    <a class="calendar__control--showprevious" href="#">Show previous dates + </a>

    <div class="calendar__listing">
        <div class="calendar__date">
            <h2>Feb 1st</h2>
            <h5>MONDAY</h5>
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty">
                    <div>Iowa Precinct Caucuses</div>
                </div>
                <div class="calendar__events--byparty">
                    <div>Iowa Precinct Caucuses</div>
                </div>
            </div>
            <div class="calendar__events--promotion">
                <img src="http://placehold.it/160x90" />
                <div class="calendar__events--promotion-metadata">
                    <h3>CNN GOP Presidential Debate</h3>
                    <h4>@ 9:00 PM ET</h4>
                    <button>Watch Live on CNN Go</button>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar__listing">
        <div class="calendar__date">
            <h2>Feb 2nd</h2>
            <h5>TUESDAY</h5>
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty">
                    <div></div>
                </div>
                <div class="calendar__events--byparty">
                    <div>Colorado Precinct Caucuses (presumably)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar__listing">
        <div class="calendar__date">
            <h2>Feb 9th</h2>
            <h5>TUESDAY</h5>
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty">
                    <div>New Hampshire Primary</div>
                </div>
                <div class="calendar__events--byparty">
                    <div>New Hampshire Primary (presumably)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar__listing">
        <div class="calendar__date">
            <h2>Feb 20th</h2>
            <h5>SATURDAY</h5>
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty">
                    <div>Nevada Non-binding Precinct Viability Caucuses</div>
                </div>
                <div class="calendar__events--byparty">
                    <div>South Carolina Primary (presumably)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar__listing">
        <div class="calendar__date">
            <h2>Feb 27th</h2>
            <h5>SATURDAY</h5>
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty">
                    <div>South Carolina Presidential Primary</div>
                </div>
                <div class="calendar__events--byparty">

                </div>
            </div>
        </div>
    </div>
    <div class="calendar__listing">
        <div class="calendar__date">
            <h2>Mar 1st</h2>
            <h5>SUPER TUESDAY</h5>
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty">
                    <div>Alabama Primary</div>
                    <div>Arkansas Primary</div>
                    <div>Colorado Precinct Caucus</div>
                    <div>Georgia Primary</div>
                    <div>Massachusetts Primary</div>
                    <div>Minnesota Precinct Caucuses</div>
                    <div>North Carolina Primary</div>
                    <div>Oklahoma Primary</div>
                    <div>Tennessee Primary</div>
                    <div>Texas Primary</div>
                    <div>Virginia Primary</div>
                    <div>Vermont Primary</div>
                    <div>American Samoa Territorial Caucus </div>
                </div>
                <div class="calendar__events--byparty">
                    <div>Alabama Primary</div>
                    <div>Minnesota Precinct Caucuses</div>
                    <div>Tennessee Primary</div>
                    <div>Texas Primary</div>
                    <div>Arkansas Primary (presumably)</div>
                    <div>Georgia Primary (presumably)</div>
                    <div>Idaho County Caucuses (presumably)</div>
                    <div>Massachusetts Primary (presumably)</div>
                    <div>North Carolina Primary (presumably)</div>
                    <div>North Dakota Caucus (presumably)</div>
                    <div>Oklahoma Primary (presumably)</div>
                    <div>Virginia Primary (presumably)</div>
                    <div>Vermont Primary (presumably)</div>
                </div>
            </div>
        </div>
    </div>

</div>

```
*/
/*doc
---
title: Markup
name: 01_Calendar
category: Calendars
parent: 00_Calendar
---

```markup_example
<div class="calendar">
    <div class="calendar__listing calendar__listing--header">
        <div class="calendar__date">
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty party--democratic">
                    Democratic Party
                </div>
                <div class="calendar__events--byparty party--republican">
                    Republican Party
                </div>
            </div>
        </div>
    </div>

    <a class="calendar__control--showprevious" href="#">Show previous dates + </a>

    <div class="calendar__listing">
        <div class="calendar__date">
            <h2>Feb 1st</h2>
            <h5>MONDAY</h5>
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty">
                    <div>Iowa Precinct Caucuses</div>
                </div>
                <div class="calendar__events--byparty">
                    <div>Iowa Precinct Caucuses</div>
                </div>
            </div>
            <div class="calendar__events--promotion">
                <img src="http://placehold.it/160x90" />
                <div class="calendar__events--promotion-metadata">
                    <h3>CNN GOP Presidential Debate</h3>
                    <h4>@ 9:00 PM ET</h4>
                    <button>Watch Live on CNN Go</button>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar__listing">
        <div class="calendar__date">
            <h2>Feb 2nd</h2>
            <h5>TUESDAY</h5>
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty">
                    <div></div>
                </div>
                <div class="calendar__events--byparty">
                    <div>Colorado Precinct Caucuses (presumably)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar__listing">
        <div class="calendar__date">
            <h2>Feb 9th</h2>
            <h5>TUESDAY</h5>
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty">
                    <div>New Hampshire Primary</div>
                </div>
                <div class="calendar__events--byparty">
                    <div>New Hampshire Primary (presumably)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar__listing">
        <div class="calendar__date">
            <h2>Feb 20th</h2>
            <h5>SATURDAY</h5>
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty">
                    <div>Nevada Non-binding Precinct Viability Caucuses</div>
                </div>
                <div class="calendar__events--byparty">
                    <div>South Carolina Primary (presumably)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar__listing">
        <div class="calendar__date">
            <h2>Feb 27th</h2>
            <h5>SATURDAY</h5>
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty">
                    <div>South Carolina Presidential Primary</div>
                </div>
                <div class="calendar__events--byparty">

                </div>
            </div>
        </div>
    </div>
    <div class="calendar__listing">
        <div class="calendar__date">
            <h2>Mar 1st</h2>
            <h5>SUPER TUESDAY</h5>
        </div>
        <div class="calendar__events">
            <div class="calendar__events--contests">
                <div class="calendar__events--byparty">
                    <div>Alabama Primary</div>
                    <div>Arkansas Primary</div>
                    <div>Colorado Precinct Caucus</div>
                    <div>Georgia Primary</div>
                    <div>Massachusetts Primary</div>
                    <div>Minnesota Precinct Caucuses</div>
                    <div>North Carolina Primary</div>
                    <div>Oklahoma Primary</div>
                    <div>Tennessee Primary</div>
                    <div>Texas Primary</div>
                    <div>Virginia Primary</div>
                    <div>Vermont Primary</div>
                    <div>American Samoa Territorial Caucus </div>
                </div>
                <div class="calendar__events--byparty">
                    <div>Alabama Primary</div>
                    <div>Minnesota Precinct Caucuses</div>
                    <div>Tennessee Primary</div>
                    <div>Texas Primary</div>
                    <div>Arkansas Primary (presumably)</div>
                    <div>Georgia Primary (presumably)</div>
                    <div>Idaho County Caucuses (presumably)</div>
                    <div>Massachusetts Primary (presumably)</div>
                    <div>North Carolina Primary (presumably)</div>
                    <div>North Dakota Caucus (presumably)</div>
                    <div>Oklahoma Primary (presumably)</div>
                    <div>Virginia Primary (presumably)</div>
                    <div>Vermont Primary (presumably)</div>
                </div>
            </div>
        </div>
    </div>

</div>

```
*/
/*doc
---
title: SCSS
name: 02_Calendar
category: Calendars
parent: 00_Calendar
---

```scss_example






.calendar {

    .calendar__control {
        &--showprevious {
            display: block;
            color: $blue;
            padding: 1em 0;
        }
    }

    &__listing {
        width: 100%;
        border-bottom: 1px solid $gray-4;
        padding: 1em 0;

        h2, h3, h4, h5, h6 {
            font-weight: normal;
        }
    }

    &__listing--header {
        padding-bottom: 0;

        .calendar__events--byparty {
            text-align: center;
            border: 1px solid $gray-4;
            border-bottom: 0;

            &.party--republican {
                border-color: $party--republican;
                color: $party--republican;
            }

            &.party--democratic {
                border-color: $party--democratic;
                color: $party--democratic;
            }


        }
    }

    &__date,
    &__events {
        display: inline-block;
        vertical-align: top;
    }

    &__date {
        width: 150px;
    }

    &__events {
        width: -webkit-calc(100% - 155px);

        &--byparty {
            padding: .5em 0;
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }

        &--promotion {
            border-top: 1px solid $gray-4;

            img,
            .calendar__events--promotion-metadata {
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}

```
*/
.calendar .calendar__control--showprevious {
  display: block;
  color: #2483b3;
  padding: 1em 0; }
.calendar__listing {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  padding: 1em 0; }
  .calendar__listing h2, .calendar__listing h3, .calendar__listing h4, .calendar__listing h5, .calendar__listing h6 {
    font-weight: normal; }
.calendar__listing--header {
  padding-bottom: 0; }
  .calendar__listing--header .calendar__events--byparty {
    text-align: center;
    border: 1px solid #d9d9d9;
    border-bottom: 0; }
    .calendar__listing--header .calendar__events--byparty.party--republican {
      border-color: #ee373b;
      color: #ee373b; }
    .calendar__listing--header .calendar__events--byparty.party--democratic {
      border-color: #2483b3;
      color: #2483b3; }
.calendar__date, .calendar__events {
  display: inline-block;
  vertical-align: top; }
.calendar__date {
  width: 150px; }
.calendar__events {
  width: -webkit-calc(100% - 155px); }
  .calendar__events--byparty {
    padding: .5em 0;
    width: 49%;
    display: inline-block;
    vertical-align: top; }
  .calendar__events--promotion {
    border-top: 1px solid #d9d9d9; }
    .calendar__events--promotion img,
    .calendar__events--promotion .calendar__events--promotion-metadata {
      display: inline-block;
      vertical-align: top; }

/*doc
---
title: Candidate
name: 00_Candidate
category: Candidates
---
This set of modules will help us show candidates, bio info, and photos across Politics.

```component_example
<div class="candidate--bio">
    <div class="candidate--name">
        <h2>Jeb Bush</h2>
    </div>

    <div class="candidate--photo">
        <img src="http://placehold.it/480x270" />
    </div>

    <div class="candidate--info">
        <h4>PARTY</h4>
        <p>Republican</p>
    </div>

    <div class="candidate--info">
        <h4>BIRTHDATE</h4>
        <p>February 11, 1953</p>
    </div>

    <div class="candidate--info">
        <h4>HOME</h4>
        <p>Bush resides in Coral Cables, Florida</p>
    </div>

    <div class="candidate--info">
        <h4>TIME IN POLITICS</h4>
        <p>Bush has been involved in politics since the early 1980s. Bush worked for his father, George H.W. Bush, on his presidential campaigns, starting with his failed run in 1980.Â Jeb BushÂ became chairman of the Dade County Republican Party in Florida in the mid-â€™80s, which began a long career in Florida state politics. He briefly was Florida's commerce secretaryÂ in 1987-88 before resigning to join his father's successful presidential campaign. He was campaign manager in 1989 for Ileana Ros-Lehtinen, who became the first Cuban-American in the U.S. Congress. After running unsuccessfully for the Florida governorship in 1994, Bush went on to defeat his Democratic challenger easilyÂ in the 1998 race for governor. He served two terms as Florida governor from 1999-2007. After opting not to run for president in both 2008 and 2012, Bush announced he is running for president on June 15, 2015.</p>
    </div>

    <div class="candidate--info">
        <h4>OFFICES HELD</h4>
        <p>Governor of Florida (1999-2007), Florida secretary of commerce (1987-88)</p>
    </div>

    <div class="candidate--info">
        <h4>FAMOUS QUOTE</h4>
        <p>"The way I look at this is someone who comes to our country because they couldnâ€™t come legally, they come to our country because their familiesÂ â€” the dad who loved their childrenÂ â€” was worried that their children didnâ€™t have food on the table. ... Yes, they broke the law, but itâ€™s not a felony. Itâ€™s an act of love. Itâ€™s an act of commitment to your family."Â â€” April 6, 2014, interview with Fox News</p>
    </div>
</div>

```
*/
/*doc
---
title: Markup
name: 01_Candidate
category: Candidates
parent: 00_Candidate
---

```markup_example
<div class="candidate--bio">
    <div class="candidate--name">
        <h2>Jeb Bush</h2>
    </div>

    <div class="candidate--photo">
        <img src="http://placehold.it/480x270" />
    </div>

    <div class="candidate--info">
        <h4>PARTY</h4>
        <p>Republican</p>
    </div>

    <div class="candidate--info">
        <h4>BIRTHDATE</h4>
        <p>February 11, 1953</p>
    </div>

    <div class="candidate--info">
        <h4>HOME</h4>
        <p>Bush resides in Coral Cables, Florida</p>
    </div>

    <div class="candidate--info">
        <h4>TIME IN POLITICS</h4>
        <p>Bush has been involved in politics since the early 1980s. Bush worked for his father, George H.W. Bush, on his presidential campaigns, starting with his failed run in 1980.Â Jeb BushÂ became chairman of the Dade County Republican Party in Florida in the mid-â€™80s, which began a long career in Florida state politics. He briefly was Florida's commerce secretaryÂ in 1987-88 before resigning to join his father's successful presidential campaign. He was campaign manager in 1989 for Ileana Ros-Lehtinen, who became the first Cuban-American in the U.S. Congress. After running unsuccessfully for the Florida governorship in 1994, Bush went on to defeat his Democratic challenger easilyÂ in the 1998 race for governor. He served two terms as Florida governor from 1999-2007. After opting not to run for president in both 2008 and 2012, Bush announced he is running for president on June 15, 2015.</p>
    </div>

    <div class="candidate--info">
        <h4>OFFICES HELD</h4>
        <p>Governor of Florida (1999-2007), Florida secretary of commerce (1987-88)</p>
    </div>

    <div class="candidate--info">
        <h4>FAMOUS QUOTE</h4>
        <p>"The way I look at this is someone who comes to our country because they couldnâ€™t come legally, they come to our country because their familiesÂ â€” the dad who loved their childrenÂ â€” was worried that their children didnâ€™t have food on the table. ... Yes, they broke the law, but itâ€™s not a felony. Itâ€™s an act of love. Itâ€™s an act of commitment to your family."Â â€” April 6, 2014, interview with Fox News</p>
    </div>
</div>

```
*/
/*doc
---
title: SCSS
name: 02_Candidate
category: Candidates
parent: 00_Candidate
---

```scss_example







.candidate--bio {
    
}

```
*/
/*doc
---
title: Polls
name: 00_Polls
category: Polls
---
This is how we visualize polling data.

### Current variants:
1. Small
    - Super small.
2. Big
    - Super big.

```component_example
<div class="poll">
    <p>This is a poll</p>
</div>

```
*/
/*doc
---
title: Markup
name: 01_Polls
category: Polls
parent: 00_Polls
---

```markup_example
<div class="poll">
    <p>This is a poll</p>
</div>

```
*/
/*doc
---
title: SCSS
name: 02_Polls
category: Polls
parent: 00_Polls
---

```scss_example






.poll {
    border: 2px solid #ddd;
}

```
*/
.poll {
  border: 2px solid #ddd; }

/*doc
---
title: Maps
name: 00_Map
category: Maps
---
This is a map.

### Current variants:
1. Small Map
    - Super small.
2. Big Map
    - Super big.

```component_example
<div class="map">
    <h2>Map</h2>

    <p>This is a map</p>
</div>

```
*/
/*doc
---
title: Markup
name: 01_Map
category: Maps
parent: 00_Map
---

```markup_example
<div class="map">
    <h2>Map</h2>

    <p>This is a map</p>
</div>

```
*/
/*doc
---
title: SCSS
name: 02_Map
category: Maps
parent: 00_Map
---

```scss_example







.map {
    border: 2px solid #ddd;
}

```
*/
.map {
  border: 2px solid #ddd; }
