img {
    width: 100%;
}

.responsive-module {
    position: relative;
}

.responsive-module > object {
    border: none;
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1000;
}

/* Layout the modules */
.page {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1120px;
}
.page:before,
.page:after {
  content:"";
  display:table;
}
.page:after {
  clear:both;
}
.page {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.responsive-module {
    margin-top: 20px;
}

@media (min-width:600px) {
    .responsive-module:nth-child(3),
    .responsive-module:nth-child(4),
    .responsive-module:nth-child(5),
    .responsive-module:nth-child(6),
    .responsive-module:nth-child(7),
    .responsive-module:nth-child(8),
    .responsive-module:nth-child(9),
    .responsive-module:nth-child(10),
    .responsive-module:nth-child(11) {
        float: left;
        width: 33.333%;
    }
}

@media (min-width: 850px) {
    .responsive-module:nth-child(2),
    .responsive-module:nth-child(3) {
        float: left;
        width: 50%;
    }

    .responsive-module:nth-child(4),
    .responsive-module:nth-child(5),
    .responsive-module:nth-child(6),
    .responsive-module:nth-child(7),
    .responsive-module:nth-child(8),
    .responsive-module:nth-child(9),
    .responsive-module:nth-child(10),
    .responsive-module:nth-child(11) {
        float: left;
        width: 25%;
    }
}

@media (min-width: 900px) {
    .responsive-module:nth-child(4),
    .responsive-module:nth-child(5) {
        float: left;
        width: 50%;
    }

    .responsive-module:nth-child(6),
    .responsive-module:nth-child(7),
    .responsive-module:nth-child(8),
    .responsive-module:nth-child(9),
    .responsive-module:nth-child(10),
    .responsive-module:nth-child(11) {
        float: left;
        width: 33.333%;
    }

}
