.results--delegate-tracker {
    overflow-x: hidden;
}

.results--delegate-tracker .candidate__name {
    width: auto;
}

.results--delegate-tracker .candidate__delegate-bar {
    width: 0;
}

.results--delegate-tracker .candidate__photo {
    display: none;
}

.results--delegate-tracker[data-eq-state~="very-small"] .candidate__photo {
    display: inline-block;
}

.results--delegate-tracker[data-eq-state~="small"] .candidate__delegate-bar {
    width: -webkit-calc(100% - 230px);
    width: -moz-calc(100% - 230px);
}

.results--delegate-tracker[data-eq-state~="small"] .candidate__name,
.results--delegate-tracker[data-eq-state~="very-small"] .candidate__name {
    width: 80px;
}
