.results--delegate-tracker {
    overflow-x: hidden;
}

.results--delegate-tracker .candidate__name {
    width: auto;
}

.results--delegate-tracker .candidate__delegate-bar {
    width: 0;
}

.results--delegate-tracker .candidate__photo {
    display: none;
}

@media (min-width: 240px) {
    .results--delegate-tracker .candidate__photo {
        display: inline-block;
    }

    .results--delegate-tracker .candidate__name {
        width: 80px;
    }
}

@media (min-width: 400px) {
    .results--delegate-tracker .candidate__delegate-bar {
        width: -webkit-calc(100% - 230px);
    }
}
