/* This is the overarching default! */
[id],
[data-ad-id] {
    border: 1px dashed gray;
    height: 20px;
    margin-bottom: 20px;
    width: 100%;
}

[data-ad-position] {
    content: "inactive";
    border: 1px solid red;
    position: relative;
}

[data-ad-position]:after {
    content: attr(data-ad-id) "::" attr(data-ad-position);
    display: block;
    left: 10px;
    position: absolute;
    top: 1px;
}

/* Small screens get this configuration */
[data-ad-position="first"] {
    content: "active";
    border: 1px solid green;
}

[data-ad-position="second"],
[data-ad-position="third"] {
    border: 1px solid red;
    content: "inactive";
}

@media (min-width:600px) {
    [data-ad-position="second"] {
        content: "active";
        border: 1px solid green;
    }

    [data-ad-position="first"],
    [data-ad-position="third"] {
        border: 1px solid red;
        content: "inactive";
    }
}

@media (min-width:1000px) {
    [data-ad-position="third"] {
        content: "active";
        border: 1px solid green;
    }

    [data-ad-position="first"],
    [data-ad-position="second"] {
        border: 1px solid red;
        content: "inactive";
    }
}

/* Styles for Legend */
.legend {
    clear: left;
    float: left;
    height: 20px;
    margin-bottom: 10px;
    width: 20px;
}

.legend--ad {
    border: 1px dashed gray;
}

.legend--active {
    border: 1px solid green;
}

.legend--inactive {
    border: 1px solid red;
}

.description {
    clear: right;
    float: left;
    font-weight: 700;
    margin-left: 10px;
}
