@import "extras/sass-flex-mixin/flex.scss";

$blue: lightsteelblue;
$bold: 700;
$gutter: 1.25em;
$radius: 0.625em;
$long-text: "Here is a card with a bit of text to see how it reacts to other cards. Here is a card with a bit of text to see how it reacts to other cards. Here is a card with a bit of text to see how it reacts to other cards.";

.page {
   padding: 0 $gutter; 
   max-width: 72.5em;
   margin: 0 auto;
}

.grid {
    counter-reset: items;
}

.card:before {
    content: "(Sample Card " counter(items)") ";
    counter-increment: items;
    font-weight: $bold;
}

.card--long-text:after {
    content: $long-text;
    margin-top: $gutter / 2;
}

.card {
    border-radius: $radius;
    background-color: $blue;
    padding: $gutter / 2;
    margin-top: $gutter;
}

.card:first-child {
    margin-top: 0;
}

.item {
    padding: 0 0 $gutter;
}

@media all and (min-width: 30em) {
    /**
     * The grid gets a flex direction of rows and wrapping. This creates the
     * appaearance of a grid from a listing of items.
     **/
    .grid {
        @include flexbox();
        @include flex-direction();
        @include flex-wrap(wrap);
    }

    /**
     * Setting flex to `0 1 auto` tells flex box to not override the width of
     * the item and keep it from growing. Next it sets up the layout of the
     * card within the item to column so that the cards grow with the height
     * of the "row".
     **/
    .item {
        @include flexbox();
        @include flex-direction(column);
        @include flex(0, 1, auto);
        padding: 0 $gutter $gutter 0;
        width: 50%;
    }

    .item:nth-child(2n) {
        padding-right: 0;
    }

    /**
     * Layouts out the card contents so that the card background will grow
     * with the height of the rows.
     **/
    .card {
        @include flexbox();
        @include flex-direction(column);
        @include flex(1, 0, auto);
    }
}

@media all and (min-width: 50em) {
    .item {
        width: 33.33333%;
    }

    .item:nth-child(2n) {
        padding-right: $gutter;
    }

    .item:nth-child(3n) {
        padding-right: 0;
    }
}

@media all and (min-width: 70em) {
    .item {
        width: 25%;
    }

    .item:nth-child(2n),
    .item:nth-child(3n) {
        padding-right: $gutter;
    }

    .item:nth-child(4n) {
        padding-right: 0;
    }
}
