$gray: #dedede;
$light-black: #333;

* {
    box-sizing: border-box;
}

body {
    background-color: beige;
    margin: 0;
    color: $light-black;
}

p {
    margin: 0 0 1.25em;
}

pre {
    background-color: $gray;
    padding: 1.25em;
}
