<link rel="stylesheet" href="/responsive-modules/css/base.css" />
<link rel="stylesheet" href="/responsive-modules/modules/delegate-tracker/css/module.css" />
<div id="module" class="results--delegate-tracker">
    <div class="results--delegate-tracker__delegates">
        <div class="candidate">
            <div class="candidate__name">
                <a href="/responsive-modules/link/to/nowhere.html" target="_top">Xxxx Xxxxxxxx</a>
            </div>
            <div class="candidate__photo">
                <img src="http://placehold.it/50x50">
            </div>
            <div class="candidate__delegate-bar" data-count="1515">
                <div class="candidate__delegate-count" style="width: 82%;"></div>
            </div>
        </div>
        <div class="candidate">
            <div class="candidate__name">
                <a href="/responsive-modules/link/to/nowhere.html" target="_top">Xxx Xxxx</a>
            </div>
            <div class="candidate__photo">
                <img src="http://placehold.it/50x50" />
            </div>
            <div class="candidate__delegate-bar" data-count="800">
                <div class="candidate__delegate-count" style="width: 42%;"></div>
            </div>
        </div>
        <div class="candidate">
            <div class="candidate__name">
                <a href="/responsive-modules/link/to/nowhere.html" target="_top">Xxxxx Xxxxx</a>
            </div>
            <div class="candidate__photo">
                <img src="http://placehold.it/50x50" />
            </div>
            <div class="candidate__delegate-bar" data-count="300">
                <div class="candidate__delegate-count" style="width: 22%;"></div>
            </div>
        </div>
    </div>
</div>
<script src="/responsive-modules/modules/delegate-tracker/js/entry.js"></script>
