<div class="results--delegate-tracker party--{{party}}" data-eq-pts="mini: 0, small: 420, medium: 800, large: 1000">
    <div class="results--delegate-tracker__delegates">
        <div class="candidate__delegate-goal">
            <div class="candidate__delegate-goal__marker" style="left: {{#delegatestowinpercent .}}{{/delegatestowinpercent}}"></div>
        </div>
        {{#nationraces}}
            <div class="candidate">
                <div class="candidate__photo">
                    <img src="http://placehold.it/30x30" />
                </div><!--
                --><div class="candidate__name">
                    {{#candidateNameFromID id}}{{/candidateNameFromID}}
                </div><!--
                --><div class="candidate__delegate-bar">
                    <div class="candidate__delegate-bar--value" style="width: {{#delegatepercent td}}{{/delegatepercent}}"></div>
                </div><!--
                --><div class="candidate__delegate-count">
                    {{td}}
                </div>

            </div>
        {{/nationraces}}
    </div>

    <footer class="results__footer">
        <div class="results--lastupdated">Updated 8:50 am ET Aug 20, 2015</div>
        <div class="results--full-link">
            <a href="#">Full results >></a>
        </div>
    </footer>
</div>
