/* line 4, ../sass/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 8, ../sass/_reset.scss */
body {
  background-color: beige;
  margin: 0;
  color: #333333;
}

/* line 14, ../sass/_reset.scss */
p {
  margin: 0 0 1.25em;
}

/* line 18, ../sass/_reset.scss */
pre {
  background-color: #dedede;
  padding: 1.25em;
}

/* line 9, ../sass/_responsive-grid.scss */
.page {
  padding: 0 1.25em;
  max-width: 72.5em;
  margin: 0 auto;
}

/* line 15, ../sass/_responsive-grid.scss */
.grid {
  counter-reset: items;
}

/* line 19, ../sass/_responsive-grid.scss */
.card:before {
  content: "(Sample Card " counter(items) ") ";
  counter-increment: items;
  font-weight: 700;
}

/* line 25, ../sass/_responsive-grid.scss */
.card--long-text:after {
  content: "Here is a card with a bit of text to see how it reacts to other cards. Here is a card with a bit of text to see how it reacts to other cards. Here is a card with a bit of text to see how it reacts to other cards.";
  margin-top: 0.625em;
}

/* line 30, ../sass/_responsive-grid.scss */
.card {
  border-radius: 0.625em;
  background-color: lightsteelblue;
  padding: 0.625em;
  margin-top: 1.25em;
}

/* line 37, ../sass/_responsive-grid.scss */
.card:first-child {
  margin-top: 0;
}

/* line 41, ../sass/_responsive-grid.scss */
.item {
  padding: 0 0 1.25em;
}

@media all and (min-width: 30em) {
  /**
   * The grid gets a flex direction of rows and wrapping. This creates the
   * appaearance of a grid from a listing of items.
   **/
  /* line 50, ../sass/_responsive-grid.scss */
  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /**
   * Setting flex to `0 1 auto` tells flex box to not override the width of
   * the item and keep it from growing. Next it sets up the layout of the
   * card within the item to column so that the cards grow with the height
   * of the "row".
   **/
  /* line 62, ../sass/_responsive-grid.scss */
  .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0 1.25em 1.25em 0;
    width: 50%;
  }

  /* line 70, ../sass/_responsive-grid.scss */
  .item:nth-child(2n) {
    padding-right: 0;
  }

  /**
   * Layouts out the card contents so that the card background will grow
   * with the height of the rows.
   **/
  /* line 78, ../sass/_responsive-grid.scss */
  .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}
@media all and (min-width: 50em) {
  /* line 86, ../sass/_responsive-grid.scss */
  .item {
    width: 33.33333%;
  }

  /* line 90, ../sass/_responsive-grid.scss */
  .item:nth-child(2n) {
    padding-right: 1.25em;
  }

  /* line 94, ../sass/_responsive-grid.scss */
  .item:nth-child(3n) {
    padding-right: 0;
  }
}
@media all and (min-width: 70em) {
  /* line 100, ../sass/_responsive-grid.scss */
  .item {
    width: 25%;
  }

  /* line 105, ../sass/_responsive-grid.scss */
  .item:nth-child(2n),
  .item:nth-child(3n) {
    padding-right: 1.25em;
  }

  /* line 109, ../sass/_responsive-grid.scss */
  .item:nth-child(4n) {
    padding-right: 0;
  }
}
