<link rel="stylesheet" href="/responsive-modules/modules/delegate-tracker-ajax-10/css/module.css" />
<div class="results--delegate-tracker js-results--delegate-tracker-10" data-eq-pts="very-small: 240, small: 400">
    <div class="results--delegate-tracker__delegates">
        <div class="candidate">
            <div class="candidate__name">
                <a href="/responsive-modules/link/to/nowhere.html">Xxxx Xxxxxxxx</a>
            </div>
            <div class="candidate__photo">
                <img src="http://placehold.it/50x50" />
            </div>
            <div class="candidate__delegate-bar" data-count="1515">
                <div class="candidate__delegate-count" style="width: 82%;"></div>
            </div>
        </div>
        <div class="candidate">
            <div class="candidate__name">
                <a href="/responsive-modules/link/to/nowhere.html">Xxx Xxxx</a>
            </div>
            <div class="candidate__photo">
                <img src="http://placehold.it/50x50" />
            </div>
            <div class="candidate__delegate-bar" data-count="800">
                <div class="candidate__delegate-count" style="width: 42%;"></div>
            </div>
        </div>
        <div class="candidate">
            <div class="candidate__name">
                <a href="/responsive-modules/link/to/nowhere.html">Xxxxx Xxxxx</a>
            </div>
            <div class="candidate__photo">
                <img src="http://placehold.it/50x50" />
            </div>
            <div class="candidate__delegate-bar" data-count="300">
                <div class="candidate__delegate-count" style="width: 22%;"></div>
            </div>
        </div>
    </div>
</div>
